## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [73]:
import pandas as pd
import numpy as np

total_questoes = {
    'mat': 24,
    'por': 18,
    'geo': 8,
    'ing': 8,
    'his': 8,
    'fis': 12,
    'qui': 12
}

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [82]:
# 1) Seu código aqui
# Lista dos DataFrames
dfs = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]
# Lista das chaves correspondentes no dicionário total_questoes
nomes_materias = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui']

# Loop para calcular o percentual para cada DataFrame
for df, nome_materia in zip(dfs, nomes_materias):
    total = total_questoes[nome_materia]
    df['Pct_acertos'] = (df['Qt_acertos'] / total) * 100
    # arredondar para 2 casas decimais
    df['Pct_acertos'] = df['Pct_acertos'].round(2)

# Verificar o resultado
print(df_mat.head())
# print(df_por.head())
# print(df_geo.head())
# print(df_ing.head())
# print(df_his.head())
# print(df_fis.head())
# print(df_qui.head())

   Qt_acertos  Pct_acertos
0           6        25.00
1          19        79.17
2          14        58.33
3          10        41.67
4           7        29.17

In [ ]:
# 2) Seu código aqui
#cria uma lista contendo a coluna de acertos de cada df
lista_acertos = [df['Qt_acertos'] for df in dfs]
#concatena as listas em um df
df_todos_acertos = pd.concat(lista_acertos, axis=1)
# soma os valores de cada coluna
df_total_acertos = df_todos_acertos.sum(axis=1)
# cria um df com a soma dos valores
df_total_acertos = pd.DataFrame(df_total_acertos, columns=['Total_acertos'])
df_total_acertos.head()

   Total_acertos
0             35
1             48
2             50
3             32
4             30

In [ ]:
# # 3) Seu código aqui
total_questoes_geral = sum(total_questoes.values())

# Calcula o percentual
df_percentual_geral = (df_total_acertos / total_questoes_geral) * 100
# adiciona a coluna e arredonda o valor
df_total_acertos['Pct_geral'] = df_percentual_geral.round(2)
df_total_acertos

    Total_acertos  Pct_geral
0              35      38.89
1              48      53.33
2              50      55.56
3              32      35.56
4              30      33.33
..            ...        ...
95             34      37.78
96             27      30.00
97             40      44.44
98             40      44.44
99             42      46.67

[100 rows x 2 columns]

In [85]:
# 4) Seu código aqui

# Define a nota de corte
nota_corte = 45
# Filtra os alunos com nota maior que a nota de corte
alunos_aprovados = df_total_acertos.loc[df_total_acertos['Total_acertos'] > nota_corte]
# Conta quantos alunos foram aprovados
num_alunos_aprovados = len(alunos_aprovados)
# Exibe o resultado
print(f"Número de alunos com nota maior que {nota_corte}: {num_alunos_aprovados}")

Número de alunos com nota maior que 45: 31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# seu código aqui

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [ ]:
# 1) Sua solução aqui

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)